<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{basic_info['website_name']}}</title>
  <meta name="description" content={{basic_info['website_name']}}>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link rel="stylesheet" href="../css/styles.css">

  <!-- Icons
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../img/grav-brands.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>


<body>
  <!-- Photo and BIO
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <p style="margin-bottom:7em;"></p>
  <div class="container">
    <div class="row">
      <div class="five columns">
        <img class="portrait" src="../img/me.jpg">
        <h4 id="Name">{{basic_info['my_name']}}</h4>
        <p id="Job-Position">{{basic_info['job_title']}}</p>
        <div class="social">
          <div class="github icon">
            <a href={{social['github']}} target="_blank"><i class="fab fa-github fa-2x"></i></a>
          </div>
          <div class="linkedin icon">
            <a href={{social['linkedin']}} target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="seven columns">
        <p style="margin-bottom:2em;"></p>
        <p>{{basic_info['bio']}}</p>
      </div>
    </div>
  </div>


  <!-- List of publications
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve column" style="margin-top: 10%">
        <h4 style="text-align:center">My Research</h4>
        <p style="margin-left: 5%">{{basic_info['research_interest']}}</p>
      </div>
    </div>
  <!-- The list itself
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row">
      <div class="twelve column" style="margin-top: 3%; margin-left: 5%;">
        {% for paper in publication_list %}
            <h5>&#127810 {{paper['title']}}</h5>
            <p>{{paper['authors']}}</p>
            <p style="margin-bottom: 8%">{{paper['loc']}} <a href={{paper['url']}} target="_blank"><i class="fas fa-external-link-alt"></i></a></i></p>
            </a></h5>
        {% endfor %}
      </div>
    </div>
  </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>