<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{website_name}}</title>
  <meta name="description" content={{website_name}}>
  <meta name="author" content="Gabriel San Martín">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link rel="stylesheet" href="../css/styles.css">

  <!-- Icons
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../img/grav-brands.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>


<body>
  <!-- Photo and BIO
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <p style="margin-bottom:10em;"></p>
  <div class="container">
    <div class="row">
      <div class="five columns">
        <img class="portrait" src="../img/me.jpg">
        <h4 id="Name">{{my_name}}</h4>
        <p id="Job-Position">{{job_title}}</p>
        <div class="social">
          <div class="github icon">
            <a href="https://github.com/gsanmartinsilva" target="_blank"><i class="fab fa-github fa-2x"></i></a>
          </div>
          <div class="linkedin icon">
            <a href="https://www.linkedin.com/in/gsanmartinsilva/" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="seven columns">
        <p style="margin-bottom:2em;"></p>
        <p>{{bio}}</p>
      </div>
    </div>
  </div>









    <!-- List of publications
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve column" style="margin-top: 10%">
        <h4 style="text-align:center">My Research</h4>
      </div>
    </div>
  <!-- The list itself
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row">
      <div class="twelve column" style="margin-top: 5%; margin-left: 5%;">
        {% for paper in publication_list %}
            <h5>&#127810 {{paper['title']}}</h5>
            <p>{{paper['authors']}}</p>
            <p style="margin-bottom: 5%">{{paper['loc']}}</p>
        {% endfor %}
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>